<article class="text--justified">
  <header><h2>Warehouses</h2></header>

  <p>
    <a [routerLink]="['/warehouse', 'create']">Create warehouse</a>
  </p>

  <table *ngIf="warehouses">
    <thead *ngIf="warehouses.warehouses.length > 0">
    <tr>
      <th>Name</th>
      <th>View</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let warehouse of warehouses.warehouses">
      <td>{{warehouse.name}}</td>
      <td>
        <a [routerLink]="['/warehouse', warehouse.id]">View</a>
      </td>
      <td>
        <a [routerLink]="['/warehouse', warehouse.id, 'edit']">Edit</a>
      </td>
      <td>
        <button (click)="onDelete(warehouse)">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</article>
